<ion-view view-title="Architecture Week 2015 Nantes">
    <ion-content>
        <h1>Présentation</h1>
        <div class="presentation">
            <p>Capgemini Architecture Week 2015 is a <strong>Business &amp; Technology Event</strong> presented <strong>worldwide</strong>, concentrated in one week, across different cities with local events and webcasts to connect <strong>Customers, Partners, Capgemini architects and IT Leaders</strong> around<strong> Technology Innovation &amp; Business Value</strong>.</p>
            <p>&nbsp;</p>
            <p><strong>This year’s motto is "Fluid &amp; Predictive Enterprises" and during the week you will hear insights on:</strong></p>
            <ul>
                <li>
                    Digital Innovation</li>
                <li>
                    Third Platform (Social, Mobile, Analytics, Cloud)</li>
                <li>
                    FOG Cloud, Internet of Everything &amp; Predictive Enterprises&nbsp;</li>
                <li>
                    DevOps, API Factories &amp; Continuous IT</li>
                <li>
                    Business Fluidity</li>
            </ul>
            <p> &nbsp;
                <br> It is a <strong>unique opportunity</strong> to :</p>
            <ul>
                <li>
                    <strong>Discover</strong> Capgemini architecture &amp; consulting projects and benefit from our experience, customer feedback, debates and technology leaders;</li>
                <li>
                    <strong>Meet</strong>&nbsp;enterprise architects, business consultants and technology leaders</li>
                <li>
                    <strong>See</strong>&nbsp;our Innovation’ Labs worldwide</li>
            </ul>
            <p>
                During the week there are many different ways to discover, share &amp; learn:</p>
            <ul>
                <li>
                    Streams dedicated to :
                    <ul>
                        <li>
                            Customer business stakes and Capgemini answers&nbsp;</li>
                        <li>
                            Methodologies and expertise</li>
                        <li>
                            Mutualization of Capgemini and partner skills</li>
                    </ul>
                </li>
                <li>
                    Special areas dedicated to :
                    <ul>
                        <li>
                            Debates</li>
                        <li>
                            Expert's Club and One to One meetings</li>
                    </ul>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
