.map-container .scroll {
    height: 100%;
}

.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.item-divider {
  padding: 10px;
}

.item-content h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
}

.item-content p, .item-content span {
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    position: relative;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.95);
    line-height: 17px;
    vertical-align: top;
}

.presentation {
    padding: 10px;
}

.my-menu {
  background-color: #3f4041;
}

.my-menu .list {
  background-color: transparent;
}

.my-menu .item, .my-menu .item-content, .my-menu .item-complex{
  background-color: transparent;
  color: #FFFFFF;
  border-color: #333333;
}
